@mixin alert-variant($background, $border, $color) {
  color: $color;
  border-color: $border;
  @include gradient-bg($background);

  hr {
    border-top-color: darken($border, 5%);
  }

  .alert-link {
    color: darken($color, 10%);
  }
}
